@using Gourl.GoUrlCore
@model Gourl.Models.GoUrl.DisplayCryptoboxModel

@{
    ViewBag.Title = "Basic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Basic</h2>

<div style='font-size:12px;margin:50px 0 5px 370px'>Language: &#160; @Html.LanguageBox("en")</div>
@Html.Cryptobox(Model)
@Html.Raw(ViewBag.Message);

@*@Html.Partial("Partial/_Cryptobox", Model)*@

@*@Html.Action("Cryptobox","Gourl", new{ options = new OptionsModel()
    {
        public_key = "-your public key for Bitcoin box-",
        private_key = "-your private key for Bitcoin box-",
        webdev_key = "",
        orderID = "your_product1_or_signuppage1_etc",
        userID = "", //"72230eec70c4e5",
        userFormat = "COOKIE",
        amount = 0,
        amountUSD = 2,
        period = "24 HOUR",
        iframeID = "",
        language = "EN"
    }})*@