<!DOCTYPE html>

<html>
<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='Expires' content='-1'>
    <title>@ViewBag.Title</title>
	<script type="text/javascript" src="~/scripts/cryptobox.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
